/*Generell CSS*/
*{
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: grid;
    grid-template-rows: 12vh 10vh 80vh auto 25vh;
} 

header{
    display: flex;
    background-image: url(../img/banner_main.png);
    background-size: cover;
}

nav{
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    background-color: #981885;
    align-items: center;
    gap: 0.5%;
    justify-content: space-evenly;

}

section{
    background-color: white;
}

h2{

}

footer{
    background-color: brown;
}

nav a{
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 4;
}

nav a:link, a:visited, a:focus{
    color: white;
}
nav a:hover{
    color: rgb(247, 94, 247);
}

.main{
    background-image: url(../img/lan_publik.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-text{
    margin-bottom: 40px;
    font-size: 50px;
    color: white;
    text-decoration: none;
}

#knapp{
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #981885;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#knapp:hover{
    background-color: fuchsia;
    transform: scale(1.05);
}
