/*Generell CSS*/
*{
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: grid;
    grid-template-rows: auto 10vh 80vh 10vh auto 40vh;
} 

header{
    background-color: aqua;
    display: flex;

}

nav{
    padding: 1rem;
    display: flex;
    background-color: purple;
    align-items: center;
    gap: 0.5%;
}

aside{
    background-color: aquamarine;
}

section{
    background-color: coral;
}

footer{
    background-color: brown;
}

nav a{
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 4;
}

nav a:link, a:visited, a:focus{
    color: white;
}
nav a:hover{
    color: rgb(247, 94, 247);
}

#main{
    background-image: url(../img/lan_publik.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-text{
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}

#knapp{
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: darkorchid;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#knapp:hover{
    background-color: fuchsia;
    transform: scale(1.05);
}

